/* Contenedor que tendrá la animación */
.slide-item-enter {
    animation: slideIn 0.35s forwards ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}